pipeline/ADLS2TOBRONZE.json
{
	"name": "ADLS2TOBRONZE",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": "@pipeline().parameters.FilePath"
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "AzureDatabricksNB",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/gopasali@publicisgroupe.net/CleansingData",
					"baseParameters": {
						"filenames": {
							"value": "@activity('Get Metadata').output.itemname",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksLS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"FilePath": {
				"type": "string",
				"defaultValue": "raw/finance/sampledata.csv"
			}
		},
		"annotations": []
	}
}